h1 {color:rgb(255,255,0);}
body{background-color: rgba(0,0,255,0.5);}

/* 이미지는 파일주소 또는 인터넷 주소를 통해 가져올 수 있다. 
대부분의 CSS속성은 대분류 및 소분류로 이름이 지정되어 있다. 
대분류로 접근을 하여 속성값을 할당해주게 되면 관련 속성을 동시에 작성할 수 있다. */

.mypicture{background-image:url();}

body{
    background-image: url();
    background-repeat:no-repeat;
    background-position:50%; 
    background-attachment:fixed;
    background: fixed;
}

/*css에서 div를 사용할 때, */
.mypicture {
    width:300px; height:300px;
    background: green;
}

/*텍스트 확인*/
p{text-align :center;
    text-decoration: none;
}

h2{
    text-decoration: overline red 1px solid;
    text-shadow:1px 1px 1px; 
}

a{
    text-decoration:none;
}

a:hover {
    color:red; 
    font-weight:bold;
}