@font-face {
    font-family: 'KOTRALEAP';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/KOTRALEAP.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

* {
    margin :0;
    padding : 0;
}

#pagebox{
    margin : 30px;
    justify-content: center;
    width : 80vw;
    height: 90vh;
    border: 3px solid saddlebrown;
    display: grid;
    justify-content: center;
    min-height: 100vh;
}

#title{
    font-size: 50px;
    font-family: 'KOTRALEAP';
    color : saddlebrown;
}

.root{
    justify-content: center;
    align-items: center;
}

#start {
    width : 150px;
    height : 150px;
    border : 3px solid black ;
}

#finish {
    width : 150px;
    height : 150px;
    border : 3px solid black ;
}

#todolist {
    width : 150px;
    height : 150px;
    border : 3px solid black ;
}

#todobox {
    display: flex;
    border :2px solid pink;
}