<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

</head>

<body>

    <div id="root"></div>
    <script type="text/babel">
        // MyApp을 통해 하나의 컴포넌트를 만들어줌
        // 반복되는 코드를 여러번 작성하지 않아도 간단한 수정을 통해서 작성할 수 있는 것이 장점
        function MyAPP() {
            return( 
                <div>
                    {true && <MyComponent />} 
                    <MyComponent /> 
                    <MyComponent /> 
                    <MyFuncComponent />
                </div>
            )
        }

        // MyComponent는 클래스형 컴포넌트
        // 클래스 (함수와 속성을 가진 것) React.Component에서 함수를 상속해 수정해서 사용함
        class MyComponent extends React.Component {
            render(){
                return (
                    <h1>확인</h1>
                )
            }
        }

        // 함수형 컴포넌트 
        // return에 html을 작성해 내보냄 
        function MyFuncComponent() {
            return <h1>함수형컴포넌트</h1>
        }



        // 메인 연결 
        const container = document.querySelector("#root");
        const root = ReactDOM.createRoot(container);
        // 작성한 컴포넌트 루트에 출력
        root.render(<MyAPP />)
    </script>
</body>
</html>