<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
    <script crossorigin src="https://unpkg.com/react@18/umd/react.development.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.development.js"></script>

</head>
<body>
    <div id="root"></div>
    <script type="text/babel">
        
        const name = "모네";
        function MyApp() {
            return (
                <div>
                    <HelloComp // 클래스형 컴포넌트 :  환영합니다 
                    /> 
                    <HelloFuncComp // 함수형 컴포넌트 : name 님 반갑습니다 
                    />     
                </div>
            );
        }
        
        class HelloComp extends React.Component {
            render() {
                return (
                    <h1>환영합니다</h1>
                )
            }
        }
        

        function HelloFuncComp() {
            return  <h2>{name} 님 반갑습니다</h2>
        }

        // 메인 연결 
        const container = document.querySelector("#root");
        const root = ReactDOM.createRoot(container);
        // 작성한 컴포넌트 루트에 출력
        root.render(<MyApp />)
    </script>
</body>
</html>